<%- include("header") -%>

<div class="box" id="about">
  <h1>About Us</h1>
</div>

<div class="box" id="info">
  <p>Hello, My Name is Subramanian. And my friends used to call me as subu.</p>
  <p>I am an enthusiasted person on learning new things</p>
  <p>This is my one of the EJS sample project</p>
  <p>If you want any website, please contact me.</p>
  <p>I will make it done with your satisfiction. Suppose if you are not satisfied with my work 100% money back gaurantee</p>
</div>

<%- include("footer") -%>
